<!--
  Generated template for the AssetsViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>総資産</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card color="primary" *ngIf="!isNetworkError">
        <ion-card-header text-center>
            総資産額
        </ion-card-header>
        <ion-card-content text-center class="assets-view-total-card-value">
            {{addComma(total)}} JPY
        </ion-card-content>
    </ion-card>

    <ion-card color="danger" *ngIf="isNetworkError">
        <ion-card-header text-center>
            ネットワークに接続できませんでした
        </ion-card-header>
    </ion-card>

    <ion-card (click)="switchAssets()">
        <ion-list inset *ngIf="viewMode == 'jpy'">
            <li ion-item *ngFor="let item of information">
                <span item-start>
                    {{item.id}}
                </span>
                <span item-end>
                    {{addComma(item.jpy)}} JPY
                </span>
            </li>
        </ion-list>
        <ion-list inset *ngIf="viewMode == 'coin'">
            <li ion-item *ngFor="let item of information">
                <span item-start>
                    {{item.id}}
                </span>
                <span item-end>
                    {{item.amount}} 枚
                </span>
            </li>
        </ion-list>
    </ion-card>

    <ion-fab bottom right *ngIf="!isNetworkError">
        <button ion-fab color="secondary" (click)="goAssetsEditPage()">
            <ion-icon name="settings"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
