<!--
  Generated template for the ArticlesViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>キャッチアップ</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div *ngFor="let article of articles">
        <ion-card>

            <ion-item>
                <ion-card-header> {{ article.user_name }}</ion-card-header>
                <p item-end> {{ article.created_at }} </p>
            </ion-item>

            <ion-card-content>
                <p> {{ article.comment }} </p>
            </ion-card-content>
            <ion-item>
                <div id="graph">
                    <p class="plus" id="plusGr" [ngStyle]="{ 'width': article.reliability + '%'}">
                        <span>{{ article.reliability }} %</span>
                    </p>
                    <p class="minus" id="minusGr" [ngStyle]="{ 'width': 100 - article.reliability + '%'}">
                        <span>{{ 100 - article.reliability }} %</span>
                    </p>
                </div>
            </ion-item>
            <ion-item>
                <a href="#" (click)="openUrl(article.url)">
                    <img src="{{ article.image }}">
                </a>
            </ion-item>
            <ion-item>
                <ion-note item-end>
                    {{article.howLongAgo}} {{article.unitOfTime}}
                </ion-note>
            </ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <button *ngIf="!article.didGoodPush" class="reaction-button good disable-hover" ion-button icon-left full (click)="toggleGood(article)">
                            <ion-icon name="thumbs-up"></ion-icon>
                            <div> Good: {{ article.good }}</div>
                        </button>
                        <button *ngIf="article.didGoodPush" class="reaction-button pushed-good" ion-button icon-left full (click)="toggleGood(article)">
                            <ion-icon name="thumbs-up"></ion-icon>
                            <div> Good: {{ article.good }}</div>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button *ngIf="!article.didBadPush" class="reaction-button bad disable-hover" ion-button icon-left full (click)="toggleBad(article)">
                            <ion-icon name="thumbs-down"></ion-icon>
                            <div> Bad: {{article.bad}}</div>
                        </button>
                        <button *ngIf="article.didBadPush" class="reaction-button pushed-bad" ion-button icon-left full (click)="toggleBad(article)">
                            <ion-icon name="thumbs-down"></ion-icon>
                            <div> Bad: {{article.bad}}</div>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>
    <ion-card color="danger" *ngIf="isNetworkError">
        <ion-card-header text-center>
            ネットワークに接続できませんでした
        </ion-card-header>
    </ion-card>

    <ion-fab bottom right>
        <button ion-fab color="secondary" (click)="goArticlePostPage()">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
