page-articles-view {
  #graph {
    overflow: hidden;
    width: 100%;
    height: 20px;

    p {
      margin: 0;
      display: inline-block;
      text-align: center;
      height: 100%;
      color: black;

      span {
        color: white;
        display: block;
      }

      &.plus {
        background-color: color($colors, good);
      }

      &.minus {
        background-color: color($colors, bad);
        margin-left: -5px;
      }
    }
  }

  a {
    text-decoration: none !important;
  }

  .site-info-wrapper {
    padding: 20px 10px;

    & .site-name {
      display: block;
    }

    & .site-title {
      color: #4e4e4e;
      font-size: 1.4rem;
      white-space: normal !important;
    }
  }

  .reaction-button {
    background-color: lightgray;
    &:hover {
      background-color: lightgray;
    }
  }

  .good {
    color: gray;
  }
  .bad {
    color: gray;
  }

  .pushed-good {
    background-color: color($colors, good) !important;
    color: #ffffff;
  }

  .pushed-bad {
    background-color: color($colors, bad) !important;
    color: #ffffff;
  }
}